* {
	margin: 0;
	padding: 0;
}
body {
	 background-image: url("bg.jpg"), url("bg1.jpg");
  	background-repeat: no-repeat, repeat;
  	background-size: cover;
  	font-family: bookman old style;
  	text-shadow: 20px 5px 15px  grey;
	margin: 20px;
	background-color: rgb(102, 45, 0, 0.5);
}
.header {
	margin: 10px;
	background-color: rgb(102, 210, 255, 0.5);
	color: rgb(0, 0, 0);
	border: 10px solid rgb(0, 54, 76, 0.1);	
}
.header .name h1 a:hover {
	color: gold;
}
.header .name h1 a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}
.header .name p:hover {
color: grey;
}
.name {
	text-align: center;
	font-size: 50px;
}
.links {
	text-align: right;
	;
}
.links img:hover {
	 transform: rotate(360deg) scaleY(1.5);
	 transition: transform 0.8s;
}
a {
	text-decoration: none;
}
.body {
	margin: 10px;
}
.left {
	background: rgb(204, 255, 255, 0.3);
	color: rgb(0, 0, 51);
	width: 50%;
	float: left;
}
.left:hover {
	background: rgb(204, 255, 255, 0.5);
	transition: 0.8s;
}
.right {
	background: rgb(0, 0, 0, 0);
	width: 50%;
	float: right;
}
.right .img img{
	transition: transform 0.6s;
	max-width: 100%;
}
.right .img:hover img {
	transform: scale(1.2);
}

.footer {
	margin: 10px;
	width: 100%;
	background: (255, 0, 0, 0.4);
	float: left;
	height: 10vh;
}
.button {
	margin: 40px;
	text-align: center;
}

.button a {
	border: 2px solid black;
background-color: yellow;
  color: red;
  text-decoration: none;
  padding: 20px 30px 20px 30px;
  transition: 0.5s;
}
.button a:hover {
	color: yellow;
 background: none;
}

